@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #0af5f4;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
